@model Ezequiel_Movies.Models.TmdbApi.TmdbMovieBrief

@{
    var tmdbImageBaseUrl = "https://image.tmdb.org/t/p/w342";
}

<div class="col">
    <div class="card h-100 shadow-sm">
        @if (!string.IsNullOrEmpty(Model.PosterPath))
        {
            <img src="@(tmdbImageBaseUrl + Model.PosterPath)" class="card-img-top bg-dark" alt="@Model.Title Poster" style="height: 300px; width: 100%; object-fit: contain;">
        }
        else
        {
            <div class="card-img-top d-flex align-items-center justify-content-center bg-light" style="height: 300px; font-size:0.8rem; color: #6c757d;">
                <span>No Poster Available</span>
            </div>
        }
        <div class="card-body d-flex flex-column">
            <h6 class="card-title" style="font-size: 0.9rem;">@Model.Title</h6>
            <p class="card-text mb-2"><small class="text-muted">@Model.ReleaseDate?.Substring(0, 4)</small></p>
            <div class="mt-auto">
                <div class="mt-auto">
                    <a href="https://www.themoviedb.org/movie/@Model.Id" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-outline-info w-100">
                        <i class="bi bi-box-arrow-up-right me-1"></i> View on TMDB
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>