@{
    ViewData["Title"] = "Home - CineLog";
}


<h1>CineLog</h1>
<p>Your personal movie companion</p>
<div style="margin-top:2.2rem; display:flex; justify-content:center; flex-wrap:wrap; gap:0.5rem;">
    <a asp-controller="Movies" asp-action="Add" class="btn-custom">Start My Collection</a>
    <a asp-controller="Movies" asp-action="Suggest" class="btn-custom">Explore Suggestions</a>
</div>
